.product-card-title {
  font-size: 1.7em;
}

.product-group-dot {
  height: 25px;
  width: 25px;
}

.hiw-icon-wrapper {
  height: 175px;
  img {
    height: 100%;
    width: auto;
  }
}